<title>CNC Online Store</title>

<section id="container">
    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg"> <a href="index.html" class="logo"><img src="assets/img/cnc-logo.png"
                title="cnc online"></a>
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->

        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li> <a href="#"> <i class="fa fa-plus-circle"></i> </a> </li>
                <li> <a href="#"> <i class="fa fa-eye"></i> </a> </li>
                <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#"> <i
                            class="fa fa-bell"></i> <span class="badge bg-theme">4</span> </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li> <a href="#">See All Tasks</a> </li>
                        <li> <a href="#">See All Tasks</a> </li>
                    </ul>
                </li>
                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle"
                        href="index.html#"> <i class="fa fa-envelope-o"></i> <span class="badge bg-theme">5</span> </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li> <a href="index.html#">See all messages</a> </li>
                    </ul>
                </li>
                <!-- inbox dropdown end -->
            </ul>

            <!--  notification end -->
        </div>
        <div class="top-menu menu-r">
            <ul class="nav pull-right top-menu">
                <li> <a href="#"> <i class="fa fa-home"></i> </a> </li>
                <li> <a href="#"> <i class="fa fa-gear"></i> </a> </li>
                <li> <a href="#"> <i class="fa fa-calendar"></i> </a> </li>
                <li> <a href="#"> <i class="fa fa-list"></i> </a> </li>
                <li> <a href="#"> <i class="fa fa-money"></i> </a> </li>
                <li> <a href="#"> <i class="fa fa-question-circle"></i> </a> </li>
                <li> <a href="#"> <i class="fa fa-ellipsis-v"></i> <i class="fa fa-ellipsis-v"></i> <i
                            class="fa fa-ellipsis-v"></i></a> </li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <p class="centered"><a href="#"><img src="assets/img/ui-zac.jpg" width="80"></a></p>
                <h5 class="centered">Marcel Newman</h5>
                <h6 class="centered">Sunny Francis</h6>
                <br>
                <li class="sub-menu"> <a href="javascript:;"> <i class="fa fa-desktop"></i> <span>Dashboard</span> </a>
                    <ul class="sub">
                        <li><a href="#">Heading 1</a></li>
                        <li><a href="#">Heading 2</a></li>
                        <li><a href="#">Heading 3</a></li>
                    </ul>
                </li>
                <li class="sub-menu"> <a href="javascript:;"> <i class="fa fa-desktop"></i> <span>Billing </span> </a>
                    <ul class="sub">
                        <li><a href="#">Heading 1</a></li>
                        <li><a href="#">Heading 2</a></li>
                        <li><a href="#">Heading 3</a></li>
                    </ul>
                </li>
                <li class="sub-menu"> <a href="javascript:;"> <i class="fa fa-desktop"></i> <span>Others </span> </a>
                    <ul class="sub">
                        <li><a href="#">Heading 1</a></li>
                        <li><a href="#">Heading 2</a></li>
                        <li><a href="#">Heading 3</a></li>
                    </ul>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <div id="main-content">
        <div class="wrapper">
            <div class="row">
                <iframe class="localhosturl" type="text" width="100%" height="720px" ng-src="{{trustSrc(mylocalhost.src)}}"
                    allowfullscreen frameborder="1">
                </iframe>
            </div>

            <!--main content end-->

        </div>