/*
Template Name: DASHGUM FREE - Bootstrap 3.2 Admin Theme
Template Version: 1.0
Author: Carlos Alvarez
Website: http://blacktie.co
Premium: http://www.gridgum.com
*/

/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
/* BASIC THEME CONFIGURATION */
body {
	color: #797979;
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	padding: 0px !important;
	margin: 0px !important;
	font-size: 13px;
}
ul li {
	list-style: none;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
::selection {
	background: #68dff0;
	color: #fff;
}
::-moz-selection {
 background: #68dff0;
 color: #515d6e;
}
#container {
	width: 100%;
	height: 100%;
}
/* Bootstrap Modifications */
.modal-header {
	background: #68dff0;
}
.modal-title {
	color: white;
}
.btn-round {
	border-radius: 20px;
	-webkit-border-radius: 20px;
}
.accordion-heading .accordion-toggle {
	display: block;
	cursor: pointer;
	border-top: 1px solid #F5F5F5;
	padding: 5px 0px;
	line-height: 28.75px;
	text-transform: uppercase;
	color: #1a1a1a;
	background-color: #ffffff;
	outline: none !important;
	text-decoration: none;
}
/*Theme Backgrounds*/

.bg-theme {
	background-color: #68dff0;
}
.bg-theme02 {
	background-color: #ac92ec;
}
.bg-theme03 {
	background-color: #48cfad;
}
.bg-theme04 {
	background-color: #ed5565;
}
/*Theme Buttons*/

.btn-theme {
	color: #fff;
	background-color: #68dff0;
	border-color: #48bcb4;
}
.btn-theme:hover, .btn-theme:focus, .btn-theme:active, .btn-theme.active, .open .dropdown-toggle.btn-theme {
	color: #fff;
	background-color: #48bcb4;
	border-color: #48bcb4;
}
.btn-theme02 {
	color: #fff;
	background-color: #ac92ec;
	border-color: #967adc;
}
.btn-theme02:hover, .btn-theme02:focus, .btn-theme02:active, .btn-theme02.active, .open .dropdown-toggle.btn-theme02 {
	color: #fff;
	background-color: #967adc;
	border-color: #967adc;
}
.btn-theme03 {
	color: #fff;
	background-color: #48cfad;
	border-color: #37bc9b;
}
.btn-theme03:hover, .btn-theme03:focus, .btn-theme03:active, .btn-theme03.active, .open .dropdown-toggle.btn-theme03 {
	color: #fff;
	background-color: #37bc9b;
	border-color: #37bc9b;
}
.btn-theme04 {
	color: #fff;
	background-color: #ed5565;
	border-color: #da4453;
}
.btn-theme04:hover, .btn-theme04:focus, .btn-theme04:active, .btn-theme04.active, .open .dropdown-toggle.btn-theme04 {
	color: #fff;
	background-color: #da4453;
	border-color: #da4453;
}
.btn-clear-g {
	color: #48bcb4;
	background: transparent;
	border-color: #48bcb4;
}
.btn-clear-g:hover {
	color: white;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #797979;
}
/*Helpers*/

.centered {
	text-align: center;
}
.goleft {
	text-align: left;
}
.goright {
	text-align: right;
}
.mt {
	margin-top: 25px;
}
.mb {
	margin-bottom: 25px;
}
.ml {
	margin-left: 5px;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
/*Exclusive Theme Colors Configuration*/

.label-theme {
	background-color: #68dff0;
}
.bg-theme {
	background-color: #84d322;
}
ul.top-menu > li > .logout {
	color: #A63CB8;
	font-size: 12px;
	padding: 5px 15px;
	margin-right: 15px;
	background: #fff;
	margin-top: 15px;
}
.nav-tabs > li > a {
	background: #f1f2f3;
	border: 1px solid #d4d8db;
	border-radius: 0;
	line-height: 1.42857;
	margin-right: 2px;
	color: #515d6e;
}
.nav-tabs > li > a:hover {
	border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fff;
	border-color: #ddd #ddd transparent;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	color: #555;
	cursor: default;
}
.form-control {
	box-shadow: none;
	border-radius: 0;
}
.form-control:focus {
	border-color: #A63CB8;
	box-shadow: none;
	outline: 0 none;
}
/*sidebar navigation*/

#sidebar {
	width: 210px;
	height: 100%;
	position: fixed;
	background: #ffffff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
}
#sidebar h5 {
    color: #515d6e;
    font-weight: 500;
    font-size: 15px;
	margin:15px 0 5px 0;
    text-transform: uppercase;
}

#sidebar h6 {
    color: #84d322;
    font-weight: 500;
    font-size: 12px;
    
	margin:0;
}

#sidebar ul li {
	position: relative;
}
#sidebar .sub-menu > .sub li {
	padding-left: 32px;
}
#sidebar .sub-menu > .sub li:last-child {
	padding-bottom: 10px;
}
/*LEFT NAVIGATION ICON*/
.dcjq-icon {
	height: 17px;
	width: 17px;
	display: inline-block;
	background: url("../img/arrow-right.png") no-repeat top;
	position: absolute;
	right: 10px;
	top: 12px;
}
.active .dcjq-icon {
	background: url("../img/arrow-down.png") no-repeat bottom;
}
/*---*/

.nav-collapse.collapse {
	display: inline;
}
ul.sidebar-menu, ul.sidebar-menu li ul.sub {
	margin: -2px 0 0;
	padding: 0;
}
ul.sidebar-menu {
	margin-top: 90px;
}
#sidebar > ul > li > ul.sub {
	display: none;
}
#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
	display: block;
}
ul.sidebar-menu li ul.sub li {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}
ul.sidebar-menu li ul.sub li:last-child {
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}
ul.sidebar-menu li ul.sub li a {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.025em;
	padding: 6px 0;
	line-height: 35px;
	height: 35px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #515d6e;
}
ul.sidebar-menu li ul.sub li a:hover {
	color: #A63CB8;
	background: transparent;
}
ul.sidebar-menu li ul.sub li.active a {
	color: #68dff0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
}
ul.sidebar-menu li {
	/*line-height: 20px !important;*/
	margin-bottom: 5px;/*margin-left:10px;
    margin-right:10px;*/
}
ul.sidebar-menu li.sub-menu {
	line-height: 15px;
}
ul.sidebar-menu li a span {
	display: inline-block;
}
ul.sidebar-menu li a {
	color: #515d6e;
	text-decoration: none;
	display: block;
	padding: 15px 0 15px 10px;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.025em;
	outline: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
	background: #F1F2F3;
	font-size: 13px;
	font-weight: 500;
	color: #A63CB8;
	letter-spacing: 0.025em;
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
ul.sidebar-menu li a i {
	font-size: 15px;
	padding-right: 6px;
}
ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
	color: #515d6e;
}
ul.sidebar-menu li a.active i {
	color: #a63cb8;
}
.mail-info, .mail-info:hover {
	margin: -3px 6px 0 0;
	font-size: 11px;
}
/* MAIN CONTENT CONFIGURATION */
#main-content {
	margin-left: 210px;
}
.header, .footer {
	min-height: 60px;
	
}
.header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1002;
}
.black-bg {
	background: #0872ff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.wrapper {
	display: inline-block;
	margin-top: 60px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 0px;
	width: 100%;
}
a.logo {
	
	float: left;
	background: #fff;
width: 211px;
padding: 11px 40px;
}
a.logo b {
	font-weight: 900;
}
a.logo:hover, a.logo:focus {
	text-decoration: none;
	outline: none;
}
a.logo span {
	color: #68dff0;
}
/*notification*/
#top_menu .nav > li, ul.top-menu > li {
	float: left;
}
.notify-row {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}
.notify-row .notification span.label {
	display: inline-block;
	height: 18px;
	width: 20px;
	padding: 5px;
}
ul.top-menu > li > a {
	color: #ffffff;
	font-size: 16px;
	padding: 2px 6px;
	margin-right: 15px;
}
ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
	background-color: #0f60cc !important;
	color: #b6b6b6 !important;
}
.notify-row .badge {
	position: absolute;
	right: -3px;
	top: -5px;
	z-index: 100;
}
.badge {
	padding: 3px 5px;
	font-size: 11px;
}
.dropdown-menu.extended {
	max-width: 300px !important;
	min-width: 160px !important;
	top: 42px;
	width: 235px !important;
	padding: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
	border: none !important;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari and Chrome */
.dropdown-menu.extended {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
}
}
.dropdown-menu.extended li p {
	background-color: #F1F2F7;
	color: #666666;
	margin: 0;
	padding: 10px;
}
.dropdown-menu.extended li p.green {
	background-color: #8e1fa1;
	color: #fff;
}
.dropdown-menu.extended li p.yellow {
	background-color: #fcb322;
	color: #fff;
}
.dropdown-menu.extended li a {
	border-bottom: 1px solid #EBEBEB !important;
	font-size: 12px;
	list-style: none;
}
.dropdown-menu.extended li a {
	padding: 15px 10px !important;
	width: 100%;
	display: inline-block;
}
.dropdown-menu.extended li a:hover {
	background-color: #F7F8F9 !important;
	color: #2E2E2E;
}
.dropdown-menu.tasks-bar .task-info .desc {
	font-size: 13px;
	font-weight: normal;
}
.dropdown-menu.tasks-bar .task-info .percent {
	display: inline-block;
	float: right;
	font-size: 13px;
	font-weight: 600;
	padding-left: 10px;
	margin-top: -4px;
}
.dropdown-menu.extended .progress {
	margin-bottom: 0 !important;
	height: 10px;
}
.dropdown-menu.inbox li a .photo img {
	border-radius: 2px 2px 2px 2px;
	float: left;
	height: 40px;
	margin-right: 4px;
	width: 40px;
}
.dropdown-menu.inbox li a .subject {
	display: block;
}
.dropdown-menu.inbox li a .subject .from {
	font-size: 12px;
	font-weight: 600;
}
.dropdown-menu.inbox li a .subject .time {
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	right: 5px;
}
.dropdown-menu.inbox li a .message {
	display: block !important;
	font-size: 11px;
}
.top-nav {
	margin-top: 7px;
}
.top-nav ul.top-menu > li .dropdown-menu.logout {
	width: 268px !important;
}
.top-nav li.dropdown .dropdown-menu {
	float: right;
	right: 0;
	left: auto;
}
.dropdown-menu.extended.logout > li {
	float: left;
	text-align: center;
	width: 33.3%;
}
.dropdown-menu.extended.logout > li:last-child {
	float: left;
	text-align: center;
	width: 100%;
	background: #a9d96c;
	border-radius: 0 0 3px 3px;
}
.dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child > a:hover {
	color: #fff;
	border-bottom: none !important;
	text-transform: uppercase;
}
.dropdown-menu.extended.logout > li:last-child > a:hover > i {
	color: #fff;
}
.dropdown-menu.extended.logout > li > a {
	color: #a4abbb;
	border-bottom: none !important;
}
.full-width .dropdown-menu.extended.logout > li > a:hover {
	background: none !important;
	color: #50c8ea !important;
}
.dropdown-menu.extended.logout > li > a:hover {
	background: none !important;
}
.dropdown-menu.extended.logout > li > a:hover i {
	color: #50c8ea;
}
.dropdown-menu.extended.logout > li > a i {
	font-size: 17px;
}
.dropdown-menu.extended.logout > li > a > i {
	display: block;
}
.top-nav ul.top-menu > li > a {
	border: 1px solid #eeeeee;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 6px;
	background: none;
	margin-right: 0;
}
.top-nav ul.top-menu > li {
	margin-left: 10px;
}
.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {
	border: 1px solid #F1F2F7;
	background: #F1F2F7;
}
.top-nav .dropdown-menu.extended.logout {
	top: 50px;
}
.top-nav .nav .caret {
	border-bottom-color: #A4AABA;
	border-top-color: #A4AABA;
}
.top-nav ul.top-menu > li > a:hover .caret {
	border-bottom-color: #000;
	border-top-color: #000;
}
.log-arrow-up {
	background: url("../img/arrow-up.png") no-repeat;
	width: 20px;
	height: 11px;
	position: absolute;
	right: 20px;
	top: -10px;
}
/*----*/

.notify-arrow {
	border-style: solid;
	border-width: 0 9px 9px;
	height: 0;
	margin-top: 0;
	opacity: 0;
	position: absolute;
	left: 7px;
	top: -18px;
	transition: all 0.25s ease 0s;
	width: 0;
	z-index: 10;
	margin-top: 10px;
	opacity: 1;
}

.notify-arrow-green {
	border-color: transparent transparent #fff;
	border-bottom-color: #fff !important;
	border-top-color: #fff !important;
}
/*--sidebar toggle---*/

.sidebar-toggle-box {
	float: left;
	padding-right: 15px;
	margin-top: 20px;
	padding-left:20px;
}
.sidebar-toggle-box .fa-bars {
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	color: #ffffff;
}
.sidebar-closed > #sidebar > ul {
	display: none;
}
.sidebar-closed #main-content {
	margin-left: 0px;
}
.sidebar-closed #sidebar {
	margin-left: -180px;
}
/* Dash Side */
.panel-heading {
	background-color: #A63CB8;
	color: #fff;
	border-radius: 0;
}
.bg-primary {
	background-color: inherit;
	color: #fff;
}
.purple {
	color: #A63CB8;
}
.panel {
	border-radius: 0;
}
.ds {
	padding-top: 20px;
}
.ds h4 {
	font-size: 14px;
	font-weight: 700;
}
.ds h3 {
	color: #ffffff;
	font-size: 15px;
	padding: 0 10px;
	line-height: 60px;
	height: 60px;
	margin: 0;
	background: #A63CB8;
	text-align: center;
}
.ds i {
	font-size: 12px;
	line-height: 16px;
}
.ds .desc {
	border-bottom: 1px solid #eaeaea;
	display: inline-block;
	padding: 15px 0;
	width: 100%;
}
.ds .desc:hover {
	background: #f2f2f2;
}
.ds .thumb {
	width: 30px;
	margin: 0 10px 0 20px;
	display: block;
	float: left;
}
.ds .details {
	width: 170px;
	float: left;
}
.ds > .desc p {
	font-size: 11px;
}
.ds p > muted {
	font-size: 9px;
	text-transform: uppercase;
	font-style: italic;
	color: #666666
}
.ds a {
	color: #68dff0;
}
/* LINE ICONS CONFIGURATION */

.mtbox {
	margin-top: 80px;
	margin-bottom: 40px;
}
.box1 {
	padding: 15px;
	text-align: center;
	color: #989898;
	border-bottom: 1px solid #989898;
}
.box1 span {
	font-size: 50px;
}
.box1 h3 {
	text-align: center;
}
.box0:hover .box1 {
	border-bottom: 1px solid #ffffff;
}
.box0 p {
	text-align: center;
	font-size: 12px;
	color: #f2f2f2;
}
.box0:hover p {
	color: #ff865c;
}
.box0:hover {
	background: #ffffff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* MAIN CHART CONFIGURATION */
.main-chart {
}
.panel-shadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background: #ffffff;
	padding: 15px;
	margin-bottom:20px;
}
.dropdown-menu {
	border-radius:0 !important;
}
.menu-r{
	margin-top:15px;
}
.mt-20{
	margin-top:20px;
}

h3 {
    font-size: 24px;
    color: #333;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-blue{
	background:#0872ff;
	color:#fff !important;
	border-radius:0;
}
.btn-blue:hover{
	background:#0d5dc9;
	
}
.btn {

    border-radius: 0;
    color: #000;
}